<log4net>
	<root>
		<level value="INFO" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="SmtpAppender"/>

	</root>
	<appender name="console" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="file" type="log4net.Appender.RollingFileAppender">
		<file value="c:\logs\myapp.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="100MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
	<!--
  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="bhavishyagoyal@gmail.com"/>
      <from value="bhavishyagoyal@hftsolution.com"/>
      <smtpHost value="smtpout.asia.secureserver.net"/>
      <username value="bhavishyagoyal@hftsolution.com"/>
      <authentication value="Basic"/>
      <subject value="Logging message"/>
      <password value="Goyal@123"/>
      <port value="80"/>
      <bufferSize value="1"/>
      <lossy value="true"/>
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="WARN"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline"/>
      </layout>
    </appender>
    -->
</log4net>